*, *:before, *:after {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: whitesmoke;
}
:root {
    --main-color: #37003c;
    --white: #ffffff;
    --pink: #ff2882;
    --green: #00ff85;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .logo {
    width: 100%;
    height: 2em;
    color: white;
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo svg {
    height: 100%;
    width: auto;
}

header .logo span {
    padding-left: 0.5em;
    font-weight: 500;
}

header nav {
    display: flex;
    width: 100%;
    max-width: 48em;
}

header a {
    padding: 1em 1em;
    padding-bottom: 0.75em;
    border-bottom: 0.25em solid transparent;
    color: var(--white);
    display: block;
    flex: 1 1 100%;
    text-align: center;
    position: relative;
    background-color: transparent;
    transition: background-color 250ms, border-bottom 300ms;
    text-decoration: none;
}

header a.active {
    border-bottom: 0.25em solid var(--pink);
}

header a:hover {
    background-color: rgba(0,0,0,0.1);
}

main {
    max-width: 50em;
    padding: 1em;
    margin: 0 auto;
    margin-top: 5.125em;
}

.match-block {
    background-color: var(--white);
    padding: 1em;
    box-shadow: 0 4px 14px 0 #00000015;
    display: flex;
    text-decoration: none;
    color: #212121;
    margin: 0.5em 0;
    font-size: 0.875em;
    transition: all 200ms;
}

.match-block:first-of-type {
    margin-top: 0;
}
.match-block:last-of-type {
    margin-bottom: 0;
}

.match-block:hover {
    transform: scale(1.015);
}

.match-block .teams {
    flex: 1 1 75%;
}

.match-block .teams .team {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    align-items: center;
}
.match-block .teams .team.lost {
    color: grey;
}

.match-block .teams .team span:first-of-type {
    display: flex;
    align-items: center;
}

.match-block .teams .team img {
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    margin-right: 0.5em;
}


.match-block .meta {
    flex: 1 1 25%;
    border-left: 1px solid lightgrey;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    flex-wrap: wrap;
    font-size: 0.75rem;
    font-weight: 700;
}

.match-block .meta > div {
    width: 100%;
    text-align: center;
}

.match-block .meta .date.FT {
    color: #00000054;
}