*, *:before, *:after {
    margin: 0;
    box-sizing: border-box;
}

#matches {
    max-width: 80em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.match {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    width: 48%;
    margin: 1%;
    background-color: #fcfcfc;
    box-shadow: 0 2px 14px 0 #00000020;
    padding: 1em;
    border-radius: 1em;
}